In [104]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Get:3 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Get:7 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,202 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:12 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Fetched 3,538 kB in 1s (2,366 kB/s)
Reading package lists... Done

In [120]:
# enable files acess in google drive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [106]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [107]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://raw.githubusercontent.com/wingylui/housing_price_anaylsis/main/Dataset/perth_housing_price_2021.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("perth_housing_price_2021.csv"), header=True, inferSchema=True, quote="\"", escape="\"")

df.show()

+--------------------+------------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+
|             ADDRESS|      SUBURB| PRICE|BEDROOMS|BATHROOMS|GARAGE|LAND_AREA|FLOOR_AREA|BUILD_YEAR|CBD_DIST|         NEAREST_STN|NEAREST_STN_DIST|MONTH_SOLD|YEAR_SOLD|POSTCODE|    LATITUDE|  LONGITUDE|         NEAREST_SCH|NEAREST_SCH_DIST|NEAREST_SCH_RANK|
+--------------------+------------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+
|       1 Acorn Place|  South Lake|565000|       4|        2|     2|      600|       160|      2003|   18300|Cockburn Central ...|            1800|         9|     2018|    6164|    -32.1159|  115.84245|Lakeland Senior H...|    0.8283385518|            null|
|         1 Addis Way|       Wandi|365000|       3|        2|     2|      351|       139|      2013|   26900|     Kwinana Station|            4900|         2|     2019|    6167|-32.19347028|115.8595535|      Atwell College|     5.524324354|             129|
|     1 Ainsley Court|     Camillo|287000|       3|        1|     1|      719|        86|      1979|   22600|     Challis Station|            1900|         6|     2015|    6111|-32.12057813| 115.993579|Kelmscott Senior ...|     1.649178183|             113|
|     1 Albert Street|    Bellevue|255000|       2|        1|     2|      651|        59|      1953|   17900|     Midland Station|            3600|         7|     2018|    6056|-31.90054675|116.0380088|Swan View Senior ...|     1.571400937|            null|
|        1 Aman Place|   Lockridge|325000|       4|        1|     2|      466|       131|      1998|   11200|  Bassendean Station|            2000|        11|     2016|    6054|   -31.88579|  115.94778|       Kiara College|     1.514921629|            null|
| 1 Amethyst Crescent|Mount Richon|409000|       4|        2|     1|      759|       118|      1991|   27300|    Armadale Station|            1000|         3|     2013|    6112| -32.1538014|116.0236578|Armadale Senior H...|     1.227219194|            null|
|       1 Ardara Lane|     Hilbert|400000|       3|        2|     2|      386|       132|      2014|   28200|    Armadale Station|            3700|         5|     2016|    6112|-32.17997786|115.9886473|Dale Christian Sc...|     2.485730857|            null|
|      1 Arnside Bend|     Waikiki|370000|       4|        2|     2|      468|       158|      2013|   41700|     Warnbro Station|            1100|         3|     2019|    6169|-32.31766224|115.7619682|South Coast Bapti...|    0.4915731383|            null|
|    1 Arrochar Court|   Hamersley|565000|       4|        2|     3|      875|       168|      1983|   12100|     Warwick Station|            2500|         6|     2020|    6022|-31.84775987|115.8227005|Warwick Senior Hi...|     1.221927593|            null|
|    1 Arundel Street|   Bayswater|685000|       3|        2|     8|      552|       126|      1999|    5900|   Bayswater Station|             508|        10|     2019|    6053|   -31.91788|  115.90705|Chisholm Catholic...|    0.9362432649|              29|
|          1 Ash Road|      Carmel|675000|       4|        2|     6|     2538|       241|      1977|   22900|             Madding|           10700|         7|     2014|    6076|   -32.01574|  116.08891|Carmel Adventist ...|    0.4964007595|            null|
|      1 Ashcott Gate|      Butler|367500|       3|        2|     2|      398|       158|      2003|   36300|      Butler Station|            2100|        11|     2018|    6036|   -31.65428|   115.7022|      Butler College|    0.6808433268|              39|
|      1 Ashcroft Way|       Balga|300000|       3|        2|     2|      243|        94|      2008|   11500|     Warwick Station|            4800|        12|     2019|    6061|-31.84964681| 115.846314|Balga Senior High...|    0.1893503137|            null|
|1 Ashendon Boulevard|Hammond Park|535000|       4|        2|     4|      704|       247|      2002|   23100|Cockburn Central ...|            3900|         7|     2019|    6164|   -32.15959|  115.84948|      Atwell College|     2.220642666|             129|
| 1 Ashtree Boulevard|Wattle Grove|540000|       4|        2|     2|      614|       186|      2004|   13100|             Madding|            5100|         5|     2018|    6107|-32.00294817|115.9836459|Rehoboth Christia...|     3.234398609|            null|
|      1 August Court|  Bull Creek|685000|       3|        2|     3|      706|       196|      1985|   12500|     Murdoch Station|             961|        11|     2017|    6149|   -32.06458|  115.86046|Leeming Senior Hi...|     1.183362603|              89|
|     1 Avonlea Place|  Bullsbrook|350000|       4|        2|     2|      663|       154|      1994|   36700|     Midland Station|           26000|        11|     2017|    6084|-31.66068818|116.0407159|  Holy Cross College|     14.01354839|              98|
|     1 Babbler Court|  Maida Vale|570000|       4|        2|     2|      568|       225|      2003|   15300|     Midland Station|            7000|        10|     2020|    6057|   -31.95242|   116.0207|Darling Range Spo...|      2.74677214|             137|
|       1 Balga Place|   Koongamia|318000|       2|        1|     3|      751|        90|      1959|   18100|     Midland Station|            4100|         5|     2013|    6056|   -31.90409|  116.04213|Swan View Senior ...|     1.859246539|            null|
|    1 Bamlett Street|Mount Nasura|379000|       3|        2|     3|      785|       167|      1977|   25400|     Challis Station|            1300|         8|     2017|    6112|   -32.13247|   116.0242|Sowilo Community ...|     1.364195755|            null|
+--------------------+------------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+
only showing top 20 rows

In [108]:
# ensure correct format for each column 
df.printSchema()

root
 |-- ADDRESS: string (nullable = true)
 |-- SUBURB: string (nullable = true)
 |-- PRICE: integer (nullable = true)
 |-- BEDROOMS: integer (nullable = true)
 |-- BATHROOMS: integer (nullable = true)
 |-- GARAGE: integer (nullable = true)
 |-- LAND_AREA: integer (nullable = true)
 |-- FLOOR_AREA: integer (nullable = true)
 |-- BUILD_YEAR: integer (nullable = true)
 |-- CBD_DIST: integer (nullable = true)
 |-- NEAREST_STN: string (nullable = true)
 |-- NEAREST_STN_DIST: integer (nullable = true)
 |-- MONTH_SOLD: integer (nullable = true)
 |-- YEAR_SOLD: integer (nullable = true)
 |-- POSTCODE: integer (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- NEAREST_SCH: string (nullable = true)
 |-- NEAREST_SCH_DIST: double (nullable = true)
 |-- NEAREST_SCH_RANK: integer (nullable = true)

In [109]:
# Create a temporary view of the DataFrame.
df.createOrReplaceTempView("perthHousingPrice")

In [76]:
# ensure it is the correct df 
spark.sql("SELECT * FROM perthHousingPrice LIMIT 3").show()

+---------------+----------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+
|        ADDRESS|    SUBURB| PRICE|BEDROOMS|BATHROOMS|GARAGE|LAND_AREA|FLOOR_AREA|BUILD_YEAR|CBD_DIST|         NEAREST_STN|NEAREST_STN_DIST|MONTH_SOLD|YEAR_SOLD|POSTCODE|    LATITUDE|  LONGITUDE|         NEAREST_SCH|NEAREST_SCH_DIST|NEAREST_SCH_RANK|
+---------------+----------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+
|  1 Acorn Place|South Lake|565000|       4|        2|     2|      600|       160|      2003|   18300|Cockburn Central ...|            1800|         9|     2018|    6164|    -32.1159|  115.84245|Lakeland Senior H...|    0.8283385518|            null|
|    1 Addis Way|     Wandi|365000|       3|        2|     2|      351|       139|      2013|   26900|     Kwinana Station|            4900|         2|     2019|    6167|-32.19347028|115.8595535|      Atwell College|     5.524324354|             129|
|1 Ainsley Court|   Camillo|287000|       3|        1|     1|      719|        86|      1979|   22600|     Challis Station|            1900|         6|     2015|    6111|-32.12057813| 115.993579|Kelmscott Senior ...|     1.649178183|             113|
+---------------+----------+------+--------+---------+------+---------+----------+----------+--------+--------------------+----------------+----------+---------+--------+------------+-----------+--------------------+----------------+----------------+

## Collect data for Machine Learning (Kmeans)
---

In [52]:
# understand the amount of house sold in each year
spark.sql("SELECT YEAR_SOLD, ROUND(COUNT(YEAR_SOLD)/(SELECT COUNT(YEAR_SOLD) FROM perthHousingPrice)*100, 2) AS percentOfHouseSold\
          FROM perthHousingPrice\
          GROUP BY YEAR_SOLD\
          ORDER BY percentOfHouseSold DESC").show()

+---------+------------------+
|YEAR_SOLD|percentOfHouseSold|
+---------+------------------+
|     2018|             16.69|
|     2019|             15.71|
|     2020|             15.63|
|     2017|             14.39|
|     2016|             11.59|
|     2015|              9.06|
|     2014|              5.79|
|     2013|               3.5|
|     2012|              1.83|
|     2011|              1.08|
|     2010|              0.81|
|     2009|              0.72|
|     2007|              0.42|
|     2008|              0.42|
|     2006|               0.4|
|     2005|              0.34|
|     2003|              0.26|
|     2002|              0.25|
|     2004|              0.22|
|     2001|              0.15|
+---------+------------------+
only showing top 20 rows

In [79]:
# query the required columns for machine learning (kmeans)
ML_df = spark.sql("SELECT SUBURB, PRICE, LAND_AREA, FLOOR_AREA, BUILD_YEAR, YEAR_SOLD, CBD_DIST, NEAREST_STN_DIST, NEAREST_SCH_DIST\
                  FROM perthHousingPrice\
                  WHERE YEAR_SOLD >= 2013")
ML_df.show(10)

+------------+------+---------+----------+----------+---------+--------+----------------+----------------+
|      SUBURB| PRICE|LAND_AREA|FLOOR_AREA|BUILD_YEAR|YEAR_SOLD|CBD_DIST|NEAREST_STN_DIST|NEAREST_SCH_DIST|
+------------+------+---------+----------+----------+---------+--------+----------------+----------------+
|  South Lake|565000|      600|       160|      2003|     2018|   18300|            1800|    0.8283385518|
|       Wandi|365000|      351|       139|      2013|     2019|   26900|            4900|     5.524324354|
|     Camillo|287000|      719|        86|      1979|     2015|   22600|            1900|     1.649178183|
|    Bellevue|255000|      651|        59|      1953|     2018|   17900|            3600|     1.571400937|
|   Lockridge|325000|      466|       131|      1998|     2016|   11200|            2000|     1.514921629|
|Mount Richon|409000|      759|       118|      1991|     2013|   27300|            1000|     1.227219194|
|     Hilbert|400000|      386|       132|      2014|     2016|   28200|            3700|     2.485730857|
|     Waikiki|370000|      468|       158|      2013|     2019|   41700|            1100|    0.4915731383|
|   Hamersley|565000|      875|       168|      1983|     2020|   12100|            2500|     1.221927593|
|   Bayswater|685000|      552|       126|      1999|     2019|    5900|             508|    0.9362432649|
+------------+------+---------+----------+----------+---------+--------+----------------+----------------+
only showing top 10 rows

In [80]:
# calculate property age and then drop columns (build year and year sold)
ML_df = ML_df.withColumn("PROPERTY_AGE", ML_df["YEAR_SOLD"] - ML_df["BUILD_YEAR"]).drop("BUILD_YEAR", "YEAR_SOLD")

ML_df.show(10)

+------------+------+---------+----------+--------+----------------+----------------+------------+
|      SUBURB| PRICE|LAND_AREA|FLOOR_AREA|CBD_DIST|NEAREST_STN_DIST|NEAREST_SCH_DIST|PROPERTY_AGE|
+------------+------+---------+----------+--------+----------------+----------------+------------+
|  South Lake|565000|      600|       160|   18300|            1800|    0.8283385518|          15|
|       Wandi|365000|      351|       139|   26900|            4900|     5.524324354|           6|
|     Camillo|287000|      719|        86|   22600|            1900|     1.649178183|          36|
|    Bellevue|255000|      651|        59|   17900|            3600|     1.571400937|          65|
|   Lockridge|325000|      466|       131|   11200|            2000|     1.514921629|          18|
|Mount Richon|409000|      759|       118|   27300|            1000|     1.227219194|          22|
|     Hilbert|400000|      386|       132|   28200|            3700|     2.485730857|           2|
|     Waikiki|370000|      468|       158|   41700|            1100|    0.4915731383|           6|
|   Hamersley|565000|      875|       168|   12100|            2500|     1.221927593|          37|
|   Bayswater|685000|      552|       126|    5900|             508|    0.9362432649|          20|
+------------+------+---------+----------+--------+----------------+----------------+------------+
only showing top 10 rows

In [103]:
# save file into google drive
ML_df.write.option("header", True).csv("/content/drive/MyDrive/Colab Notebooks/output_csv/Perth_housing_ML.csv")

## Collect data for Tableau Data Visualisation
---

In [110]:
# query the required columns for Data Visualisation
visual_df = spark.sql("SELECT SUBURB, PRICE, LAND_AREA, FLOOR_AREA, BUILD_YEAR, YEAR_SOLD\
                      FROM perthHousingPrice\
                      WHERE YEAR_SOLD >= 2013")
visual_df.show(10)

+------------+------+---------+----------+----------+---------+
|      SUBURB| PRICE|LAND_AREA|FLOOR_AREA|BUILD_YEAR|YEAR_SOLD|
+------------+------+---------+----------+----------+---------+
|  South Lake|565000|      600|       160|      2003|     2018|
|       Wandi|365000|      351|       139|      2013|     2019|
|     Camillo|287000|      719|        86|      1979|     2015|
|    Bellevue|255000|      651|        59|      1953|     2018|
|   Lockridge|325000|      466|       131|      1998|     2016|
|Mount Richon|409000|      759|       118|      1991|     2013|
|     Hilbert|400000|      386|       132|      2014|     2016|
|     Waikiki|370000|      468|       158|      2013|     2019|
|   Hamersley|565000|      875|       168|      1983|     2020|
|   Bayswater|685000|      552|       126|      1999|     2019|
+------------+------+---------+----------+----------+---------+
only showing top 10 rows

In [111]:
# calculate property age and then drop columns (build year and year sold)
visual_df = visual_df.withColumn("PROPERTY_AGE", visual_df["YEAR_SOLD"] - visual_df["BUILD_YEAR"]).drop("BUILD_YEAR", "YEAR_SOLD")

visual_df.show(10)

+------------+------+---------+----------+------------+
|      SUBURB| PRICE|LAND_AREA|FLOOR_AREA|PROPERTY_AGE|
+------------+------+---------+----------+------------+
|  South Lake|565000|      600|       160|          15|
|       Wandi|365000|      351|       139|           6|
|     Camillo|287000|      719|        86|          36|
|    Bellevue|255000|      651|        59|          65|
|   Lockridge|325000|      466|       131|          18|
|Mount Richon|409000|      759|       118|          22|
|     Hilbert|400000|      386|       132|           2|
|     Waikiki|370000|      468|       158|           6|
|   Hamersley|565000|      875|       168|          37|
|   Bayswater|685000|      552|       126|          20|
+------------+------+---------+----------+------------+
only showing top 10 rows

In [112]:
# calculate price/floor (price per square meter)
visual_df = visual_df.withColumn("PRICE/FLOOR($/m2)", visual_df["PRICE"]/visual_df["FLOOR_AREA"])

# calculate price/floor (price per square meter)
visual_df = visual_df.withColumn("PRICE/LAND($/m2)", visual_df["PRICE"]/visual_df["LAND_AREA"])

# calculate floor/land
visual_df = visual_df.withColumn("Land/Floor", visual_df["LAND_AREA"]/visual_df["FLOOR_AREA"])

visual_df.show(10)

+------------+------+---------+----------+------------+------------------+------------------+------------------+
|      SUBURB| PRICE|LAND_AREA|FLOOR_AREA|PROPERTY_AGE| PRICE/FLOOR($/m2)|  PRICE/LAND($/m2)|        Land/Floor|
+------------+------+---------+----------+------------+------------------+------------------+------------------+
|  South Lake|565000|      600|       160|          15|           3531.25| 941.6666666666666|              3.75|
|       Wandi|365000|      351|       139|           6|2625.8992805755397|  1039.88603988604|2.5251798561151078|
|     Camillo|287000|      719|        86|          36|3337.2093023255816| 399.1655076495132|  8.36046511627907|
|    Bellevue|255000|      651|        59|          65| 4322.033898305085|391.70506912442397|11.033898305084746|
|   Lockridge|325000|      466|       131|          18| 2480.916030534351| 697.4248927038626|3.5572519083969465|
|Mount Richon|409000|      759|       118|          22| 3466.101694915254|  538.866930171278| 6.432203389830509|
|     Hilbert|400000|      386|       132|           2|3030.3030303030305|1036.2694300518135|2.9242424242424243|
|     Waikiki|370000|      468|       158|           6| 2341.772151898734| 790.5982905982906| 2.962025316455696|
|   Hamersley|565000|      875|       168|          37| 3363.095238095238| 645.7142857142857| 5.208333333333333|
|   Bayswater|685000|      552|       126|          20| 5436.507936507936|1240.9420289855072| 4.380952380952381|
+------------+------+---------+----------+------------+------------------+------------------+------------------+
only showing top 10 rows

In [118]:
visual_grp_df = visual_df.groupby("SUBURB").avg("PRICE", "LAND_AREA", "FLOOR_AREA", "PROPERTY_AGE", "PRICE/FLOOR($/m2)", 
                                                "PRICE/LAND($/m2)", "Land/Floor")
visual_grp_df.show()

+----------------+------------------+------------------+------------------+------------------+----------------------+---------------------+------------------+
|          SUBURB|        avg(PRICE)|    avg(LAND_AREA)|   avg(FLOOR_AREA)| avg(PROPERTY_AGE)|avg(PRICE/FLOOR($/m2))|avg(PRICE/LAND($/m2))|   avg(Land/Floor)|
+----------------+------------------+------------------+------------------+------------------+----------------------+---------------------+------------------+
|   Hamilton Hill| 500102.5641025641|  671.025641025641|136.98717948717947| 41.51282051282051|    3854.6552146180593|     899.351120703826| 5.382238510236602|
|   Watermans Bay|        1196421.25|            647.35|          209.0125|26.592105263157894|     6203.204544990847|   2127.9431746909568|3.5112214447619374|
|       Hazelmere| 627307.6923076923|4093.5384615384614|160.65384615384616| 37.69230769230769|     4309.490785511784|   419.78920035627203|27.447816021753326|
|    Piara Waters| 518168.2242990654|488.33644859813086|191.39252336448598|              7.16|    2768.1087892375804|    1110.049564169949|  2.56157379406751|
|    Canning Vale| 589988.3846153846| 696.8846153846154|215.40384615384616|18.707482993197278|    2787.2473523363146|     954.791584541415|3.2019497405232786|
|       Cottesloe|1646283.3333333333|494.82608695652175| 187.5072463768116| 49.78260869565217|     9147.563882727858|    4407.588259510805|3.0679147052248257|
|     Gidgegannup| 792695.4022988506|  73836.6091954023|220.33333333333334| 21.05952380952381|    3812.2954809007874|   31.915932667559993|395.92475653064974|
|          Wilson|          576334.0| 625.4935064935065| 156.7922077922078| 29.95774647887324|     3891.142944841946|   1144.0220659712488| 4.345797513707831|
|       Brigadoon| 852636.3095238095|23114.333333333332|251.28571428571428|13.282051282051283|    3688.7648176956873|    38.99857589026107|104.54503097064227|
|       Joondalup| 521552.8703703704| 589.9166666666666| 172.7037037037037|21.952380952380953|      3137.79248622918|    1119.830675982552|3.6956991526808443|
|       Carabooda|         1126750.0|           42177.6|             223.4|              27.5|      5165.77046515776|    35.92672238380491| 199.7497087386912|
|    Port Kennedy|367967.20430107525| 624.8064516129032| 180.9731182795699|18.466257668711656|    2067.1282870711693|    604.1505778196524|3.5821155648423804|
|       Guildford| 761602.0408163265| 745.2993197278912|165.51020408163265| 73.95714285714286|     4841.005338781522|    1263.491080747947|4.5270557745276445|
|           Ascot| 803359.1666666666| 612.1583333333333|204.69166666666666| 21.78813559322034|     4131.198385690888|     1917.96627048006| 3.396062705059008|
|           Hovea| 841548.3870967742| 21439.58064516129| 221.2258064516129| 32.87096774193548|     4117.966895451533|    57.94666968082106|106.75655218630536|
|      Jarrahdale| 542201.1363636364| 5581.477272727273|184.63636363636363| 29.71264367816092|     3158.101144380126|   280.19679413829465| 30.72067446374821|
|         Munster|         1030000.0|           20000.0|             218.0|              40.0|     4724.770642201835|                 51.5| 91.74311926605505|
|      West Perth| 681065.2173913043| 222.6086956521739|114.78260869565217| 39.17391304347826|     5882.520897676627|   3669.6276904624747|1.9217405290112357|
|      Woodbridge| 613264.7058823529| 601.9705882352941|161.89705882352942| 46.86538461538461|     3968.575406758904|   1371.4794272149331|3.9262640208444104|
|Cockburn Central|492742.42424242425| 494.8787878787879|149.63636363636363|13.121212121212121|    3594.8113218171707|   1635.7338987595883|  3.02591226204938|
+----------------+------------------+------------------+------------------+------------------+----------------------+---------------------+------------------+
only showing top 20 rows

In [102]:
# save file into google drive
visual_df.write.option("header", True).csv("/content/drive/MyDrive/Colab Notebooks/output_csv/Perth_housing_visual.csv")

In [121]:
# save groupby df into google drive
visual_grp_df.write.option("header", True).csv("/content/drive/MyDrive/Colab Notebooks/output_csv/Perth_housing_visual_grp.csv")